<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="text-center">
        <h1 class="display-4">@ViewData["Header"]</h1>
        <nav>
            <!--Nav bar to all pages-->
            <a asp-controller="Home" asp-action="Index">Home</a> |
            <a asp-controller="Home" asp-action="Podcasts">Podcasts</a> |
            <a asp-controller="Home" asp-action="MovieForm">Add Movie</a>
        </nav>
        <br />
    </header>
    @RenderBody()
</body>
</html>
